[Desktop Entry]
Name=OwnCloud KAccounts QML plugin

Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=owncloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
