[Desktop Entry]
Name=OwnCloud KAccounts QML plugin
Name[en_GB]=OwnCloud KAccounts QML plugin
Name[fi]=OwnCloud KAccounts QML -liitännäinen
Name[it]=Estensione QML di KAccounts per OwnCloud
Name[nl]=OwnCloud KAccounts QML plug-in
Name[pl]=Wtyczka QML OwnCloud dla KAccounts
Name[pt]='Plugin' em QML do KAccounts para o OwnCloud
Name[pt_BR]=Plugin em QML do KAccounts para o OwnCloud
Name[sl]=Vstavek QML za KAccounts za OwnCloud
Name[sr]=КуМЛ прикључак Оунклауда за К‑налоге
Name[sr@ijekavian]=КуМЛ прикључак Оунклауда за К‑налоге
Name[sr@ijekavianlatin]=QML priključak ownClouda za K‑naloge
Name[sr@latin]=QML priključak ownClouda za K‑naloge
Name[sv]=OwnCloud QML-insticksprogram för konton
Name[tr]=OwnCloud KAccounts QML eklentisi
Name[uk]=Додаток QML KAccounts OwnCloud
Name[x-test]=xxOwnCloud KAccounts QML pluginxx
Name[zh_CN]=OwnCloud KAccounts QML 插件

Encoding=UTF-8
Type=Service
Icon=applications-internet
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=owncloud_kaccounts_ui
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
