[Desktop Entry]
Name=Accounts
Name[ar]=الحسابات
Name[ast]=Cuentes
Name[az]=İstifadəçi Hesabları
Name[ca]=Comptes
Name[ca@valencia]=Comptes
Name[cs]=Účty
Name[da]=Konti
Name[de]=Zugänge
Name[el]=Λογαριασμοί
Name[en_GB]=Accounts
Name[es]=Cuentas
Name[et]=Kontod
Name[eu]=Kontuak
Name[fi]=Tilit
Name[fr]=Comptes
Name[gl]=Contas
Name[hu]=Fiókok
Name[ia]=Contos
Name[it]=Account
Name[ka]=ანგარიშები
Name[ko]=계정
Name[lt]=Paskyros
Name[nl]=Accounts
Name[nn]=Kontoar
Name[pa]=ਖਾਤੇ
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ro]=Conturi
Name[ru]=Учётные записи в Интернете
Name[sk]=Účty
Name[sl]=Računi
Name[sr]=Налози
Name[sr@ijekavian]=Налози
Name[sr@ijekavianlatin]=Nalozi
Name[sr@latin]=Nalozi
Name[sv]=Konton
Name[tr]=Hesaplar
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Name[zh_CN]=账户
Name[zh_TW]=帳號
Comment=Add Your Online Accounts
Comment[ar]=أضف حساباتك على الإنترنت
Comment[ast]=Amiesta cuentes en llinia
Comment[az]=İnternet hesablarınızı əlavə edin
Comment[ca]=Afegiu els vostres comptes en línia
Comment[ca@valencia]=Afiggau els vostres comptes en llínea
Comment[cs]=Přidejte svoje účty online
Comment[da]=Tilføj dine onlinekonti
Comment[de]=Fügen Sie Ihre Online-Zugänge hinzu
Comment[el]=Προσθέστε τους διαδικτυακούς λογαριασμούς σας
Comment[en_GB]=Add Your Online Accounts
Comment[es]=Añadir cuentas con conexión
Comment[et]=Võrgukontode lisamine
Comment[eu]=Gehitu zure online kontuak
Comment[fi]=Lisää verkkotilisi
Comment[fr]=Ajouter vos comptes en ligne
Comment[gl]=Engadir as contas de Internet
Comment[hu]=Adja hozzá online fiókjait
Comment[ia]=Adde tu contos in linea
Comment[it]=Aggiungi i tuoi account online
Comment[ka]=თქვენი ონლაინ ანგარიშის დამატება
Comment[ko]=내 온라인 계정 추가
Comment[lt]=Pridėti savo internetines paskyras
Comment[nl]=Uw online accounts toevoegen
Comment[nn]=Legg til nettkontoar
Comment[pa]=ਆਪਣੇ ਆਨਲਾਈਨ ਖਾਤੇ ਜੋੜੋ
Comment[pl]=Dodaj swoje konta internetowe
Comment[pt]=Adicione as Suas Contas 'Online'
Comment[pt_BR]=Adicione suas contas online
Comment[ro]=Adăugați-vă conturile online
Comment[ru]=Используйте свои учётные записи в Интернете
Comment[sk]=Pridajte svoje online účty
Comment[sl]=Dodaj vaš spletni računi
Comment[sv]=Lägg till dina nätkonton
Comment[tr]=Çevrimiçi Hesaplarınızı Ekleyin
Comment[uk]=Додавання ваших облікових записів
Comment[x-test]=xxAdd Your Online Accountsxx
Comment[zh_CN]=添加在线账户
Comment[zh_TW]=新增線上帳號

Encoding=UTF-8
Type=Service
Icon=preferences-online-accounts
X-KDE-ServiceTypes=KCModule
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=kcm_kaccounts
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma-mobile.org
X-KDE-PluginInfo-Category=Network
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop,handset,tablet,mediacenter
X-Plasma-MainScript=ui/Accounts.qml
