[Desktop Entry]
Name=Accounts
Name[bs]=Nalozi
Name[cs]=Účty
Name[de]=Zugänge
Name[es]=Cuentas
Name[fi]=Tilit
Name[fr]=Comptes
Name[gl]=Contas
Name[hu]=Fiókok
Name[mr]=खाते
Name[nl]=Accounts
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[sk]=Účty
Name[sv]=Konton
Name[tr]=Hesaplar
Name[ug]=ھېساباتلار
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Accounts management
Comment[bs]=Upravljanje nalozima
Comment[cs]=Správa účtů
Comment[de]=Zugangs-Verwaltung
Comment[es]=Gestión de cuentas
Comment[fi]=Tilienhallinta
Comment[fr]=Gestion des comptes
Comment[gl]=Xestión das contas
Comment[hu]=Fiókkezelés
Comment[mr]=खाते व्यवस्थापन
Comment[nl]=Beheer van accounts
Comment[pl]=Zarządzanie kontami
Comment[pt]=Gestão de contas
Comment[pt_BR]=Gerenciamento de contas
Comment[sk]=Správa účtov
Comment[sv]=Kontohantering
Comment[tr]=Hesap yönetimi
Comment[uk]=Керування обліковими записами
Comment[x-test]=xxAccounts managementxx

Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=accounts
X-KDE-DBus-ModuleName=accounts
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
