[Desktop Entry]
Name=Accounts
Name[ar]=الحسابات
Name[ast]=Cuentes
Name[ca]=Comptes
Name[cs]=Účty
Name[da]=Konti
Name[de]=Zugänge
Name[el]=Λογαριασμοί
Name[en_GB]=Accounts
Name[es]=Cuentas
Name[fi]=Tilit
Name[fr]=Comptes
Name[gl]=Contas
Name[hu]=Fiókok
Name[it]=Account
Name[ko]=계정
Name[nl]=Accounts
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ro]=Conturi
Name[ru]=Учётные записи в Интернете
Name[sk]=Účty
Name[sl]=Računi
Name[sr]=Налози
Name[sr@ijekavian]=Налози
Name[sr@ijekavianlatin]=Nalozi
Name[sr@latin]=Nalozi
Name[sv]=Konton
Name[tr]=Hesaplar
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Name[zh_CN]=账户
Name[zh_TW]=帳號
Comment=Accounts management
Comment[ar]=إدارة الحساباتل
Comment[ast]=Xestión de cunetes
Comment[ca]=Gestor de comptes
Comment[cs]=Správa účtů
Comment[da]=Håndtering af konti
Comment[de]=Zugangs-Verwaltung
Comment[el]=Διαχείριση λογαριασμών
Comment[en_GB]=Accounts management
Comment[es]=Gestión de cuentas
Comment[fi]=Tilienhallinta
Comment[fr]=Gestion des comptes
Comment[gl]=Xestión das contas
Comment[hu]=Fiókkezelés
Comment[it]=Gestione account
Comment[ko]=계정 관리
Comment[nl]=Accountbeheer
Comment[pl]=Zarządzanie kontami
Comment[pt]=Gestão de contas
Comment[pt_BR]=Gerenciamento de contas
Comment[ro]=Gestiune conturi
Comment[ru]=Управление учётными записями в интернет-службах
Comment[sk]=Správa účtov
Comment[sl]=Upravljanje računov
Comment[sr]=Управљање налозима
Comment[sr@ijekavian]=Управљање налозима
Comment[sr@ijekavianlatin]=Upravljanje nalozima
Comment[sr@latin]=Upravljanje nalozima
Comment[sv]=Kontohantering
Comment[tr]=Hesap yönetimi
Comment[uk]=Керування обліковими записами
Comment[x-test]=xxAccounts managementxx
Comment[zh_CN]=账户管理
Comment[zh_TW]=帳號管理

Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=accounts
X-KDE-DBus-ModuleName=accounts
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
