[Desktop Entry]
Name=Accounts
Name[nl]=Accounts
Name[pt_BR]=Contas
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Accounts management
Comment[nl]=Beheer van accounts
Comment[pt_BR]=Gerenciamento de contas
Comment[uk]=Керування обліковими записами
Comment[x-test]=xxAccounts managementxx

Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=accounts
X-KDE-DBus-ModuleName=accounts
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
