<?xml version="1.0" encoding="UTF-8" ?>
<service id="MyService">
  <type>e-mail</type>
  <name>My Service</name>
  <icon>general_myservice</icon>
  <provider>MyProvider</provider>
  <translations>accounts</translations>
  <tags>
    <tag>email</tag>
    <tag>e-mail</tag>
  </tags>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="parameters">
      <setting name="server">talk.google.com</setting>
      <setting name="port" type="i">5223</setting>
      <setting name="old-ssl" type="b">true</setting>
      <setting name="fallback-conference-server">conference.jabber.org</setting>
    </group>
    <setting name="enabled" type="b">true</setting>
  </template>

  <!-- preview account -->
  <preview>
    <group name="parameters">
      <setting name="server">talkdemo.google.com</setting>
      <setting name="account">googledemo@gmail.com</setting>
      <setting name="password">demo</setting>
    </group>
    <setting name="display_name">GTalk demo</setting>
  </preview>

  <!-- type-specific data -->
  <type_data>
    <capabilities>chat-p2p, voice-p2p, video-p2p, chat-room, chat-room-list, avatars, alias, roster</capabilities>
    <vcard_field>X-JABBER</vcard_field>
    <presences>
      <presence name="available">
        <name>pres_bd_gtalk_available</name>
        <icon>general_presence_online</icon>
        <type>available</type>
      </presence>
      <presence name="away">
        <name>pres_bd_gtalk_busy</name>
        <icon>general_presence_busy</icon>
        <type>away</type>
      </presence>
    </presences>
    <actions>
      <action name="chat">
        <name>addr_bd_cont_starter_im_service_chat</name>
        <icon>general_sms</icon>
        <vcard_field>X-JABBER</vcard_field>
        <properties>
          <prop name="org.freedesktop.Telepathy.Channel.ChannelType" type="s">org.freedesktop.Telepathy.Channel.Type.Text</prop>
	</properties>
      </action>
      <action name="call">
        <name>addr_bd_cont_starter_im_service_call</name>
        <icon>general_call</icon>
        <vcard_field>X-JABBER</vcard_field>
        <properties>
          <prop name="org.freedesktop.Telepathy.Channel.ChannelType" type="s">org.freedesktop.Telepathy.Channel.Type.StreamedMedia</prop>
        </properties>
      </action>
    </actions>

  </type_data>
</service>
