[Desktop Entry]
Exec=kcmshell5 kcm_kaccounts
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kaccounts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=personalization

Name=Online Accounts
Name[cs]=Účty online
Name[de]=Online-Zugänge
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[es]=Cuentas con conexión
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[nl]=Online accounts
Name[pl]=Konta sieciowe
Name[pt_BR]=Contas online
Name[sk]=Online účty
Name[sl]=Spletni računi
Name[uk]=Облікові записи у мережі
Name[x-test]=xxOnline Accountsxx

Comment=Configure your internet accounts such as Google, Live, Owncloud
Comment[cs]=Nastavte své webové účty jako např. Google, Live, Owncloud
Comment[de]=Richten Sie Ihre Web-Zugänge wie Google, Live und ownCloud ein
Comment[el]=Διαμορφώστε τους διαδικτυακούς σας λογαριασμούς όπως Google, Live, Owncloud
Comment[en_GB]=Configure your internet accounts such as Google, Live, Owncloud
Comment[es]=Configurar sus cuentas de Internet, como Google, Live y Owncloud
Comment[fi]=Määritä verkkotiliesi asetukset (esim. Google, Live, ownCloud)
Comment[fr]=Configurez vos comptes Internet tels que Google, Live, OwnCloud
Comment[nl]=Uw internet-accounts instellen zoals Google, Live, Owncloud
Comment[pl]=Skonfiguruj swoje konta internetowe, takie jak Google, Live, Owncloud
Comment[pt_BR]=Configure suas contas na Internet, como Google, Live, Owncloud
Comment[sk]=Nastaviť vaše internetové účty ako Google, Live, Owncloud
Comment[sl]=Nastavite vaše internetne račune kot npr. Google, Live, Owncloud
Comment[uk]=Налаштування ваших облікових записів у Google, Live, Owncloud тощо
Comment[x-test]=xxConfigure your internet accounts such as Google, Live, Owncloudxx

X-KDE-Keywords=Network,Google,Live,ownCloud
X-KDE-Keywords[cs]=Síť,Google,Live,ownCloud
X-KDE-Keywords[de]=Netzwerk,Google,Live,ownCloud
X-KDE-Keywords[el]=Δίκτυο,Google,Live,ownCloud
X-KDE-Keywords[en_GB]=Network,Google,Live,ownCloud
X-KDE-Keywords[es]=Red,Google,Live,ownCloud
X-KDE-Keywords[fi]=Verkko,Google,Live,ownCloud
X-KDE-Keywords[fr]=Réseau, Google, Live, OwnCloud
X-KDE-Keywords[nl]=Netwerk,Google,Live,ownCloud
X-KDE-Keywords[pl]=Sieć,Google,Live,ownCloud
X-KDE-Keywords[pt_BR]=Rede,Google,Live,ownCloud
X-KDE-Keywords[sk]=Sieť,Google,Live,ownCloud
X-KDE-Keywords[sl]=Omrežje,Google,Live,ownCloud
X-KDE-Keywords[uk]=Network,Google,Live,ownCloud,мережа,гугл,ґуґл,лайф,аунклауд
X-KDE-Keywords[x-test]=xxNetwork,Google,Live,ownCloudxx

Categories=Qt;KDE;X-KDE-settings-kaccounts;
