[Desktop Entry]
Exec=kcmshell4 kcm_kdeaccounts
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kdeaccounts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-and-connectivity

Name=Online Accounts
Name[bs]=Nalozi na mreži
Name[cs]=Účty online
Name[de]=Online-Zugänge
Name[el]=Διαδικτυακοί λογαριασμοί
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[gl]=Contas na rede
Name[hu]=Online felhasználói fiókok
Name[nl]=Online accounts
Name[pl]=Konta sieciowe
Name[pt]=Contas 'Online'
Name[pt_BR]=Contas online
Name[sk]=Online účty
Name[sv]=Nätkonton
Name[tr]=Çevrimiçi Hesaplar
Name[ug]=توردىكى ھېساباتلار
Name[uk]=Облікові записи у інтернеті
Name[x-test]=xxOnline Accountsxx

Comment=Configure your internet accounts such as Google, Live, Owncloud
Comment[bs]=Konfigurišite vaše Internet naloge poptu Google, Live, Owncloud
Comment[cs]=Nastavte své webové účty jako např. Google, Live, Owncloud
Comment[de]=Richten Sie Ihre Web-Zugänge wie Google, Live und ownCloud ein
Comment[el]=Διαμορφώστε τους λογαριασμούς σας στο διαδίκτυο όπως τα Google, Live, Owncloud
Comment[es]=Configurar sus cuentas de Internet, como Google, Live u Owncloud
Comment[et]=Oma internetikontode - Google, Live, Owncloud jne - seadistamine
Comment[fi]=Määritä verkkotiliesi asetukset (esim. Google, Live, ownCloud)
Comment[fr]=Configurez vos comptes Internet tels que Google, Live, OwnCloud
Comment[ga]=Cumraigh do chuntais Idirlín, mar shampla Google, Live, Owncloud
Comment[gl]=Configurar as túas contas de internet como a de Google, Live ou Owncloud
Comment[hu]=Állítsa be az internetes felhasználói fiókjait (például Google, Live, Owncloud)
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​គណនី​អ៊ីនធឺណិត​របស់​អ្នក ដូចជា ហ្គូហ្គល Live និង Owncloud
Comment[mr]=तुमचे महाजाळ खाते जसे  गूगल, लाइव्ह, ओनक्लाउड संयोजीत करा
Comment[nl]=Uw internet-accounts instellen zoals Google, Live, Owncloud
Comment[pl]=Skonfiguruj swoje konta internetowe, takie jak Google, Live, Owncloud
Comment[pt]=Configure as suas contas na Internet, como o Google, Live, Owncloud
Comment[pt_BR]=Configure suas contas na Internet, como Google, Live, Owncloud
Comment[sk]=Nastaviť vaše internetové účty ako Google, Live, Owncloud
Comment[sv]=Anpassa Internetkonton såsom Google, Live, Owncloud
Comment[tr]=Google, Live, Owncloud benzeri internet hesaplarınızı yapılandırın
Comment[uk]=Налаштування ваших облікових записів, зокрема записі у Google, Live, Owncloud
Comment[x-test]=xxConfigure your internet accounts such as Google, Live, Owncloudxx

X-KDE-Keywords=Network,Google,Live,ownCloud
X-KDE-Keywords[bs]=Network,Google,Live,ownCloud
X-KDE-Keywords[cs]=Síť,Google,Live,ownCloud
X-KDE-Keywords[de]=Netzwerk,Google,Live,ownCloud
X-KDE-Keywords[el]=Διαδίκτυο,Google,Live,ownCloud
X-KDE-Keywords[es]=Red,Google,Live,ownCloud
X-KDE-Keywords[et]=Võrk,Google,Live,ownCloud
X-KDE-Keywords[fi]=Verkko,Google,Live,ownCloud
X-KDE-Keywords[fr]=Réseau, Google, Live, OwnCloud
X-KDE-Keywords[ga]=Líonra,Google,Live,ownCloud
X-KDE-Keywords[gl]=Rede,Google,Live,ownCloud
X-KDE-Keywords[hu]=Hálózat,Google,Live,ownCloud
X-KDE-Keywords[km]=បណ្ដាញ ហ្គូហ្គល Live ownCloud
X-KDE-Keywords[mr]=संजाळ,गूगल,लाइव्ह,ओनक्लाउड
X-KDE-Keywords[nl]=Netwerk,Google,Live,ownCloud
X-KDE-Keywords[pl]=Sieć,Google,Live,ownCloud
X-KDE-Keywords[pt]=Rede,Google,Live,ownCloud
X-KDE-Keywords[pt_BR]=Rede,Google,Live,ownCloud
X-KDE-Keywords[sk]=Sieť,Google,Live,ownCloud
X-KDE-Keywords[sv]=Nätverk,Google,Live,ownCloud
X-KDE-Keywords[tr]=Ağ,Google,Live,ownCloud
X-KDE-Keywords[uk]=мережа,інтернет,Network,Google,Live,ownCloud
X-KDE-Keywords[x-test]=xxNetwork,Google,Live,ownCloudxx

Categories=Qt;KDE;X-KDE-settings-kdeaccounts;
