[Desktop Entry]
Exec=kcmshell5 kcm_kaccounts
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kaccounts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=personalization

Name=Online Accounts
Name[ar]=حسابات الإنترنت
Name[ast]=Cuentes en llinia
Name[ca]=Comptes en línia
Name[cs]=Účty online
Name[da]=Online konti
Name[de]=Online-Zugänge
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[es]=Cuentas con conexión
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[hu]=Online fiókok
Name[it]=Account in linea
Name[nl]=Online rekeningen
Name[pl]=Konta sieciowe
Name[pt]=Contas 'Online'
Name[pt_BR]=Contas online
Name[ru]=Учётные записи в Интернете
Name[sk]=Online účty
Name[sl]=Spletni računi
Name[sr]=Налози на вези
Name[sr@ijekavian]=Налози на вези
Name[sr@ijekavianlatin]=Nalozi na vezi
Name[sr@latin]=Nalozi na vezi
Name[sv]=Direktkonton
Name[tr]=Çevrimiçi Hesaplar
Name[uk]=Облікові записи у інтернеті
Name[x-test]=xxOnline Accountsxx
Name[zh_CN]=在线账户
Name[zh_TW]=線上帳號

Comment=Configure your internet accounts such as Google, Live, Owncloud
Comment[ar]=اضبط حساباتك على الإنترنت كغوغل، لايڤ وسحابتك "Owncloud"
Comment[ast]=Configura les tos cuentes d'internet como Google, Hotmail, Owncloud...
Comment[ca]=Configura els vostres comptes d'Internet com Google, Live, Owncloud
Comment[cs]=Nastavte své webové účty jako např. Google, Live, Owncloud
Comment[da]=Indstil dine internetkonti som f.eks. Google, Live, Owncloud
Comment[de]=Richten Sie Ihre Web-Zugänge wie Google, Live und ownCloud ein
Comment[el]=Διαμορφώστε τους διαδικτυακούς σας λογαριασμούς όπως Google, Live, Owncloud
Comment[en_GB]=Configure your internet accounts such as Google, Live, Owncloud
Comment[es]=Configurar sus cuentas de Internet, como Google, Live y Owncloud
Comment[fi]=Verkkotiliesi asetukset (esim. Google, Live, ownCloud)
Comment[fr]=Configurez vos comptes Internet tels que Google, Live, OwnCloud
Comment[hu]=Állítsa be internetes fiókjait (Google, Live, Owncloud, stb)
Comment[it]=Configura i tuoi account internet come Google, Live, ownCloud
Comment[nl]=Stel uw internetaccounts in zoals Google, Live, Owncloud
Comment[pl]=Skonfiguruj swoje konta internetowe, takie jak Google, Live, Owncloud
Comment[pt]=Configure as suas contas da Internet, como as do Google, Live, Owncloud
Comment[pt_BR]=Configure suas contas na Internet, como Google, Live, Owncloud
Comment[ru]=Настройка учётных записей Google, Facebook, Jabber и других
Comment[sk]=Nastaviť vaše internetové účty ako Google, Live, Owncloud
Comment[sl]=Nastavite vaše internetne račune kot npr. Google, Live, Owncloud
Comment[sr]=Подесите своје интернет налоге, нпр. на Гуглу или Оунклауду
Comment[sr@ijekavian]=Подесите своје интернет налоге, нпр. на Гуглу или Оунклауду
Comment[sr@ijekavianlatin]=Podesite svoje internet naloge, npr. na Googleu ili ownCloudu
Comment[sr@latin]=Podesite svoje internet naloge, npr. na Googleu ili ownCloudu
Comment[sv]=Anpassa Internetkonton såsom Google, Live, Owncloud
Comment[tr]=Google, Live, Owncloud benzeri internet hesaplarınızı yapılandırın
Comment[uk]=Налаштування ваших облікових записів у Google, Live, Owncloud тощо
Comment[x-test]=xxConfigure your internet accounts such as Google, Live, Owncloudxx
Comment[zh_CN]=配置您的网络账户，例如 Google，Live，OwnCloud
Comment[zh_TW]=設定您的網際網路帳號，如 Google, Live, Owncloud 等

X-KDE-Keywords=Network,Google,Live,ownCloud
X-KDE-Keywords[ar]=Network,Google,Live,ownCloud,شبكة,غوغل,جوجل,لايف,لايڤ,سحابتك
X-KDE-Keywords[ast]=Rede,Google,Hotmail,ownCloud,Facebook,Twitter
X-KDE-Keywords[ca]=Xarxa,Google,Live,ownCloud
X-KDE-Keywords[cs]=Síť,Google,Live,ownCloud
X-KDE-Keywords[da]=Netværk,Google,Live,ownCloud
X-KDE-Keywords[de]=Netzwerk,Google,Live,ownCloud
X-KDE-Keywords[el]=Δίκτυο,Google,Live,ownCloud
X-KDE-Keywords[en_GB]=Network,Google,Live,ownCloud
X-KDE-Keywords[es]=Red,Google,Live,ownCloud
X-KDE-Keywords[fi]=Network,Verkko,Google,Live,ownCloud
X-KDE-Keywords[fr]=Réseau, Google, Live, OwnCloud
X-KDE-Keywords[hu]=Hálózat,Google,Live,Owncloud
X-KDE-Keywords[it]=Rete,Google,Live,ownCloud
X-KDE-Keywords[nl]=Netwerk,Google,Live,ownCloud
X-KDE-Keywords[pl]=Sieć,Google,Live,ownCloud
X-KDE-Keywords[pt]=Rede,Google,Live,ownCloud
X-KDE-Keywords[pt_BR]=Rede,Google,Live,ownCloud
X-KDE-Keywords[ru]=Network,Google,Live,ownCloud,учётные записи,учетные записи,Интернет,социальные сети,мгновенные сообщения,Facebook,ICQ,Jabber,Gadu-Gadu,KDE Talk,Yahoo,IBM Sametime
X-KDE-Keywords[sk]=Sieť,Google,Live,ownCloud
X-KDE-Keywords[sl]=Omrežje,Google,Live,ownCloud
X-KDE-Keywords[sr]=Network,Google,Live,ownCloud,мрежа,Гугл,Оунклауд
X-KDE-Keywords[sr@ijekavian]=Network,Google,Live,ownCloud,мрежа,Гугл,Оунклауд
X-KDE-Keywords[sr@ijekavianlatin]=Network,Google,Live,ownCloud,mreža,Google,ownCloud
X-KDE-Keywords[sr@latin]=Network,Google,Live,ownCloud,mreža,Google,ownCloud
X-KDE-Keywords[sv]=Nätverk,Google,Live,ownCloud
X-KDE-Keywords[tr]=Ağ, Google, Live, ownCloud
X-KDE-Keywords[uk]=Network,Google,Live,ownCloud,мережа,гугл,ґуґл,лайф,аунклауд
X-KDE-Keywords[x-test]=xxNetworkxx,xxGooglexx,xxLivexx,xxownCloudxx
X-KDE-Keywords[zh_CN]=Network,Google,Live,ownCloud,网络,谷歌
X-KDE-Keywords[zh_TW]=Network,Google,Live,ownCloud

Categories=Qt;KDE;X-KDE-settings-kaccounts;
