[Desktop Entry]
Exec=kcmshell4 webaccounts
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=webaccounts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-and-connectivity

Name=Web Accounts
Name[nl]=Web-accounts
Name[pt]=Contas na Web
Name[pt_BR]=Contas da Web
Name[sk]=Webové účty
Name[uk]=Облікові записи у інтернеті
Name[x-test]=xxWeb Accountsxx

Comment=Configure your internet accounts such as Google, Live, Owncloud

X-KDE-Keywords=Network,Google,Live,ownCloud
X-KDE-Keywords[nl]=Netwerk,Google,Live,ownCloud
X-KDE-Keywords[pt]=Rede,Google,Live,ownCloud
X-KDE-Keywords[pt_BR]=Rede,Google,Live,ownCloud
X-KDE-Keywords[sk]=Sieť,Google,Live,ownCloud
X-KDE-Keywords[uk]=Network,Google,Live,ownCloud,мережа,гугл,лів,аунклауд
X-KDE-Keywords[x-test]=xxNetwork,Google,Live,ownCloudxx

Categories=Qt;KDE;X-KDE-settings-webaccounts;
