[Desktop Entry]
Exec=kcmshell4 webaccounts
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=webaccounts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-and-connectivity

Name=Web Accounts
Name[cs]=Webové účty
Name[de]=Web-Zugänge
Name[es]=Cuentas web
Name[et]=Veebikontod
Name[fi]=Verkkotilit
Name[ga]=Cuntais Ghréasáin
Name[hu]=Webes felhasználói fiókok
Name[km]=គណនី​បណ្ដាញ
Name[nl]=Web-accounts
Name[pl]=Konta sieciowe
Name[pt]=Contas na Web
Name[pt_BR]=Contas da Web
Name[sk]=Webové účty
Name[sv]=Webbkonton
Name[uk]=Облікові записи у інтернеті
Name[x-test]=xxWeb Accountsxx

Comment=Configure your internet accounts such as Google, Live, Owncloud
Comment[cs]=Nastavte své webové účty jako např. Google, Live, Owncloud
Comment[de]=Richten Sie Ihre Web-Zugänge wie Google, Live und ownCloud ein
Comment[es]=Configurar sus cuentas de Internet, como Google, Live u Owncloud
Comment[et]=Oma internetikontode - Google, Live, Owncloud jne - seadistamine
Comment[fi]=Määritä verkkotiliesi asetukset (esim. Google, Live, ownCloud)
Comment[hu]=Állítsa be az internetes felhasználói fiókjait (például Google, Live, Owncloud)
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​គណនី​អ៊ីនធឺណិត​របស់​អ្នក ដូចជា ហ្គូហ្គល Live និង Owncloud
Comment[nl]=Uw internet-accounts instellen zoals Google, Live, Owncloud
Comment[pl]=Skonfiguruj swoje konta internetowe, takie jak Google, Live, Owncloud
Comment[pt]=Configure as suas contas de Internet, como a Google, a Live ou a Owncloud
Comment[pt_BR]=Configure suas contas na Internet tais como o Google, Live, Owncloud
Comment[sv]=Anpassa Internetkonton såsom Google, Live, Owncloud
Comment[uk]=Налаштування ваших облікових записів у інтернеті, зокрема у Google, Live, Owncloud
Comment[x-test]=xxConfigure your internet accounts such as Google, Live, Owncloudxx

X-KDE-Keywords=Network,Google,Live,ownCloud
X-KDE-Keywords[cs]=Síť,Google,Live,ownCloud
X-KDE-Keywords[de]=Netzwerk,Google,Live,ownCloud
X-KDE-Keywords[es]=Red,Google,Live,ownCloud
X-KDE-Keywords[et]=Võrk,Google,Live,ownCloud
X-KDE-Keywords[fi]=Verkko,Google,Live,ownCloud
X-KDE-Keywords[ga]=Líonra,Google,Live,ownCloud
X-KDE-Keywords[hu]=Hálózat,Google,Live,ownCloud
X-KDE-Keywords[km]=បណ្ដាញ ហ្គូហ្គល Live ownCloud
X-KDE-Keywords[nl]=Netwerk,Google,Live,ownCloud
X-KDE-Keywords[pl]=Sieć,Google,Live,ownCloud
X-KDE-Keywords[pt]=Rede,Google,Live,ownCloud
X-KDE-Keywords[pt_BR]=Rede,Google,Live,ownCloud
X-KDE-Keywords[sk]=Sieť,Google,Live,ownCloud
X-KDE-Keywords[sv]=Nätverk,Google,Live,ownCloud
X-KDE-Keywords[uk]=Network,Google,Live,ownCloud,мережа,гугл,лів,аунклауд
X-KDE-Keywords[x-test]=xxNetwork,Google,Live,ownCloudxx

Categories=Qt;KDE;X-KDE-settings-webaccounts;
